@page
@model asp_presentacion.Pages.Ventanas.ContentGenresModel
@{
    ViewData["Titulo"] = "";
}
<center>
    <div>
        <form method="POST"
              enctype="multipart/form-data">

            @Html.AntiForgeryToken()
            <div align="left">
                <h3>ContentGenres</h3>
            </div>

            <div align="left"
                 class="bt_panel_buttons">
                <input type="submit"
                       value="Refrescar"
                       asp-page-handler="BtRefrescar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Nuevo"
                       asp-page-handler="BtNuevo"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Guardar"
                       asp-page-handler="BtGuardar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Cancelar"
                       asp-page-handler="BtCancelar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
            </div>

            @if (Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
                        Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                       asp-for="@Model.Actual!.Id" />
            }
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                @* <input type="hidden"
                       asp-for="@Model.Actual!.Name" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Description" /> *@
                <input type="hidden"
                       asp-for="@Model.Actual!._GenreType.Name" />
                <input type="hidden"
                       asp-for="@Model.Actual!._Content.Name" />
            }
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Editar)
            {
                <div class="containers_vn panel panel-default">
                    <h3>ContentGenres</h3>
                    <div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Tipo
                            </label>
                            <div class="col-lg-6">
                                <select id="nmContentGenre"
                                        class="cts_forms form-control"
                                        asp-for="Actual.GenreType"
                                        asp-items="@(new SelectList(Model.ListaGenreTypes, "Id", "Name"))">
                                    <option value="">-- Seleccionar Tipo --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Contenido
                            </label>
                            <div class="col-lg-6">
                                <select id="nmContent"
                                        class="cts_forms form-control"
                                        asp-for="Actual.Content"
                                        asp-items="@(new SelectList(Model.ListaContents, "Id", "Name"))">
                                    <option value="">-- Seleccionar Contenido --</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if (ViewData.ContainsKey("Mensaje"))
            {
                <input type="hidden"
                       asp-for="@Model.Accion" />
                @await Html.PartialAsync("../Emergentes/Mensajes.cshtml");
            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <div class='popup'>
                    <div class='pp_del_inner'>
                        <div style='width:95%'>
                            <h2 align="left">
                                Mensaje
                            </h2>
                            <h4 align="left">
                                Desea borrar la entidad?
                            </h4>
                            <br />
                            <br />
                            <input type="submit"
                                   value="Borrar"
                                   asp-page-handler="BtBorrar"
                                   class="btn btn-secondary" />
                            <input type="submit"
                                   value="Cerrar"
                                   asp-page-handler="BtCancelar"
                                   class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
                        Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input id="flDescription"
                       class="cts_forms form-control"
                       asp-for="@Model.Filtro!._GenreType!.Name"
                       placeholder="GenreType" />
                <br />

                <div class="containers_vn panel panel-default">
                    <table class="tb_data table table-striped table-bordered tablehover">
                        <tr>
                            <th>
                                Tipo Genero
                            </th>
                            <th>
                                Contenido
                            </th>
                            <th class="cl_actions">
                                Accion
                            </th>
                        </tr>
                        @if (Model != null && Model.Lista != null)
                        {
                            @foreach (var elemento in Model.Lista)
                            {
                                <tr>
                                    <td>
                                        @elemento._GenreType?.Name
                                    </td>
                                    <td>
                                        @elemento._Content?.Name
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <button type="submit"
                                                    asp-page-handler="BtModificar"
                                                    asp-route-data="@elemento.Id"
                                                    name="bt"
                                                    value="Editar"
                                                    class="btn btn-link p-0"
                                                    title="Editar">
                                                <i class="material-icons text-primary">&#xE254;</i>
                                            </button>

                                            <button type="submit"
                                                    asp-page-handler="BtBorrarVal"
                                                    asp-route-data="@elemento.Id"
                                                    name="bt"
                                                    value="Borrar"
                                                    class="btn btn-link p-0"
                                                    title="Eliminar">
                                                <i class="material-icons text-danger">&#xE872;</i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            }
        </form>
    </div>
</center>