@page
@model asp_presentacion.Pages.Ventanas.SubscriptionsModel
@{
    ViewData["Titulo"] = "";
    var userRole = HttpContext.Session.GetString("Rol");
}
<center>
    <div>
        <form method="POST"
              enctype="multipart/form-data">

            @Html.AntiForgeryToken()
            <div align="left">
                <h3>Suscripciones</h3>
            </div>

            <div align="left"
                 class="bt_panel_buttons">
                <input type="submit"
                       value="Refrescar"
                       asp-page-handler="BtRefrescar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                @if (userRole == "Admin")
                {
                    <input type="submit"
                           value="Nuevo"
                           asp-page-handler="BtNuevo"
                           class="btn btn-secondary"
                           disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                    <input type="submit"
                           value="Guardar"
                           asp-page-handler="BtGuardar"
                           class="btn btn-secondary"
                           disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                    <input type="submit"
                           value="Cancelar"
                           asp-page-handler="BtCancelar"
                           class="btn btn-secondary"
                           disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                }
            </div>

            @if (Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
                        Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                       asp-for="@Model.Actual!.Id" />
            }
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                       asp-for="@Model.Actual!._User.Name" />
                <input type="hidden"
                       asp-for="@Model.Actual!._Plan.Name" />
                <input type="hidden"
                       asp-for="@Model.Actual!.StartedAt" />
                <input type="hidden"
                       asp-for="@Model.Actual!.FinishedAt" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Price" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Months" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Status" />
            }
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Editar)
            {
                <div class="containers_vn panel panel-default">
                    <h3>Episodios</h3>
                    <div>
                        @* <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Nombre
                            </label>
                            <div class="col-lg-6">
                                <input id="nmName"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Name" />
                            </div>
                        </div> *@
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Usuario
                            </label>
                            <div class="col-lg-6">
                                <select id="nmContentType"
                                        class="cts_forms form-control"
                                        asp-for="Actual.User"
                                        asp-items="@(new SelectList(Model.ListaUsers, "Id", "Name"))">
                                    <option value="">-- Seleccionar Usuario --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Plan
                            </label>
                            <div class="col-lg-6">
                                <select id="nmContentType"
                                        class="cts_forms form-control"
                                        asp-for="Actual.Plan"
                                        asp-items="@(new SelectList(Model.ListaPlans, "Id", "Name"))">
                                    <option value="">-- Seleccionar Plan --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Fecha inicio
                            </label>
                            <div class="col-lg-6">
                                <input id="nmStartedAt"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.StartedAt" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Fecha fin
                            </label>
                            <div class="col-lg-6">
                                <input id="nmFinishedAt"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.FinishedAt" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                               Precio
                            </label>
                            <div class="col-lg-6">
                                <input id="nmFinishedAt"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Price" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Meses
                            </label>
                            <div class="col-lg-6">
                                <input id="nmFinishedAt"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Months" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Estado
                            </label>
                            <div class="col-lg-6">
                                <select id="nmStatus"
                                        class="cts_forms form-control"
                                        asp-for="Actual.Status">
                                    <option value="">-- Seleccionar Estado --</option>
                                    <option value="1">Inactivo</option>
                                    <option value="0">Activo</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if (ViewData.ContainsKey("Mensaje"))
            {
                <input type="hidden"
                       asp-for="@Model.Accion" />
                @await Html.PartialAsync("../Emergentes/Mensajes.cshtml")
                ;
            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <div class='popup'>
                    <div class='pp_del_inner'>
                        <div style='width:95%'>
                            <h2 align="left">
                                Mensaje
                            </h2>
                            <h4 align="left">
                                Desea borrar la entidad?
                            </h4>
                            <br />
                            <br />
                            <input type="submit"
                                   value="Borrar"
                                   asp-page-handler="BtBorrar"
                                   class="btn btn-secondary" />
                            <input type="submit"
                                   value="Cerrar"
                                   asp-page-handler="BtCancelar"
                                   class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
                        Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input id="flDescription"
                       class="cts_forms form-control"
                       asp-for="@Model.Filtro!._Plan.Name"
                       placeholder="Plan" />
                <br />

                <div class="containers_vn panel panel-default">
                    <table class="tb_data table table-striped table-bordered tablehover">
                        <tr>
                            <th>
                                Usuario
                            </th>
                            <th>
                                Plan
                            </th>
                            <th>
                                Fecha inicio
                            </th>
                            <th>
                                Fecha fin
                            </th>
                            <th>
                                Precio
                            </th>
                            <th>
                                Meses
                            </th>
                            <th>
                                Estado
                            </th>

                            @if (userRole == "Admin")
                            {
                                <th class="cl_actions">
                                    Accion
                                </th>
                            }

                        </tr>
                        @if (Model != null && Model.Lista != null)
                        {
                            @foreach (var elemento in Model.Lista)
                            {
                                <tr>
                                    <td>
                                        @elemento._User?.Name
                                    </td>
                                    <td>
                                        @elemento._Plan?.Name
                                    </td>
                                    <td>
                                        @elemento.StartedAt
                                    </td>
                                    <td>
                                        @elemento.FinishedAt
                                    </td>
                                    <td>
                                        @elemento.Price
                                    </td>
                                    <td>
                                        @elemento.Months
                                    </td>
                                    <td>
                                        @(elemento.Status ? "Activo" : "Inactivo")
                                    </td>
                                    @if (userRole == "Admin")
                                    {
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <button type="submit"
                                                        asp-page-handler="BtModificar"
                                                        asp-route-data="@elemento.Id"
                                                        name="bt"
                                                        value="Editar"
                                                        class="btn btn-link p-0"
                                                        title="Editar">
                                                    <i class="material-icons text-primary">&#xE254;</i>
                                                </button>

                                                <button type="submit"
                                                        asp-page-handler="BtBorrarVal"
                                                        asp-route-data="@elemento.Id"
                                                        name="bt"
                                                        value="Borrar"
                                                        class="btn btn-link p-0"
                                                        title="Eliminar">
                                                    <i class="material-icons text-danger">&#xE872;</i>
                                                </button>
                                            </div>
                                        </td>
                                    }
                                </tr>
                            }
                        }
                    </table>
                </div>
            }
        </form>
    </div>
</center>